include README.md
include requirements.txt
include CMakeLists.txt
recursive-include examples *.py
recursive-include . *.h
recursive-include . *.cpp
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude build/